body {
    background-color: beige;
    color: black;
}

h1 {
    color: black;
}

p {
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

ol {
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
